In [0]:
from google.colab import drive

drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import sqlite3 as db

In [0]:
path= '/content/drive/My Drive/doc_mag.txt'
path1= '/content/drive/My Drive/inv_idx.txt'

In [0]:
df = pd.read_csv(path, sep=",", header=None, names=["docid", "maxf","mag"])

In [0]:
df['mag'] = df['mag'].str.strip('()')
df['maxf'] =  df['maxf'].apply(lambda x: x.replace('(','').replace(')','')) 
df['docid'] = df['docid'].str.strip('()')

In [0]:
df

      docid maxf                     mag
0     16400    8   0.0034821916809178732
1     15216    4     0.04384375136310996
2     13100    4      1.0009134527283605
3     15168    6    0.007492377558908097
4     13044    5     0.13502771593329124
...     ...  ...                     ...
9211   4773    4    0.013980125061547444
9212   6825    2      0.2502591922982213
9213   4169    8    0.003937188174844047
9214    701    2    0.001076517850049742
9215   9477    2     0.06319980849650769

[9216 rows x 3 columns]

In [0]:
df1 = pd.read_csv(path1, sep="^([^,]+),", engine='python', header=None, names=["word", "postinglist_freq_tfidf"])
df1.reset_index(inplace=True, drop=True)

In [0]:
df1['word'] =  df1['word'].apply(lambda x: x.replace('(',''))
df1['word'] = df1['word'].str.replace(r"[\"\',]", '').replace('(','')
df1['postinglist_freq_tfidf'] =  df1['postinglist_freq_tfidf'].apply(lambda x: x.replace('[','').replace(']',''))
df1['postinglist_freq_tfidf']=[i.rsplit(')', 1)[0] for i in df1['postinglist_freq_tfidf']]

In [0]:
df1

               word                             postinglist_freq_tfidf
0               apr   (12959, 1, 4.215851602023609e-05), (16400, 1,...
1             latex   (12959, 3, 0.04), (19479, 1, 0.00444444444444...
2             plant   (12959, 5, 0.0015772870662460567), (3318, 4, ...
3            canada   (12959, 1, 0.00028288543140028293), (14357, 1...
4       development   (12959, 1, 0.0001774622892635315), (10603, 1,...
...             ...                                                ...
19451      sarrazin                      (7582, 4, 0.6666666666666666)
19452  particiaping                                    (8436, 1, 0.25)
19453           vme                                    (13865, 4, 0.4)
19454       chassis                                    (13865, 1, 0.1)
19455          mvsb                                    (13865, 2, 0.2)

[19456 rows x 2 columns]

In [0]:

pp=0
if pp==1:
  con = db.connect('/content/drive/My Drive/inv_idx_db.db')
  cur = con.cursor()
  df.to_sql(name='doc_mag',if_exists='replace',con=con)
  df1.to_sql(name='inv_idx',if_exists='replace',con=con)

In [0]:
x=cur.execute("SELECT * FROM sqlite_master where type='table'")

for y in x.fetchall():
    print(y)

('table', 'doc_mag', 'doc_mag', 2, 'CREATE TABLE "doc_mag" (\n"index" INTEGER,\n  "docid" TEXT,\n  "maxf" TEXT,\n  "mag" TEXT\n)')
('table', 'inv_idx', 'inv_idx', 119, 'CREATE TABLE "inv_idx" (\n"index" INTEGER,\n  "word" TEXT,\n  "postinglist_freq_tfidf" TEXT\n)')

In [0]:
def lookup():

SyntaxError: ignored

In [0]:
query="Hey Asshole"
list1=[]
splitting_sent= query.split()

In [0]:
y=cur.execute("SELECT * FROM inv_idx WHERE word like '%abc%'")

In [0]:
for x in y.fetchall():
  print(x)

(2558, 'abc', ' (10934, 2, 0.013888888888888888), (12328, 4, 0.014814814814814815), (6457, 1, 0.027777777777777776), (13073, 5, 0.018518518518518517), (18717, 1, 0.013888888888888888), (16828, 1, 0.009259259259259259), (20409, 1, 0.011111111111111112), (1333, 1, 0.013888888888888888), (10759, 1, 0.009259259259259259), (20855, 1, 0.006944444444444444), (386, 1, 0.006172839506172839), (397, 1, 0.006944444444444444), (16540, 2, 0.015873015873015872), (14737, 8, 0.05555555555555555), (10948, 1, 0.011111111111111112), (7203, 5, 0.0308641975308642), (17310, 3, 0.027777777777777776), (16968, 1, 0.009259259259259259)')
(17158, 'abci', ' (18635, 1, 0.16666666666666666)')
(17222, 'rehabcare', ' (14533, 1, 0.16666666666666666)')